<!-- Main spring application context -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jsonMapper"
          class="nz.co.acc.myacc.services.invoicing.util.JsonObjectMapper">
    </bean>

    <bean id="oracleXmlHandler"
          class="nz.co.acc.myacc.services.test.util.mock.MockOracleXmlHandler"/>

    <bean id="xmlMapper"
          class="nz.co.acc.myacc.services.invoicing.util.XmlObjectMapper">
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager">
            <bean class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
                <property name="configLocation" value="classpath:ehcache.xml"/>
                <property name="shared" value="true"/>
            </bean>
        </property>
    </bean>

    <!-- Inject all property files here. -->
    <bean name="propertyPlaceHolderConfigurator"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:swagger.properties</value>
                <value>classpath:xslt.properties</value>
                <value>classpath:jms.properties</value>
            </list>
        </property>
    </bean>

    <!-- Swagger bean for custom configuration. -->
    <bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig"/>
</beans>