<web-app id="WebApp_ID" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Provider Invoicing Service</display-name>

    <!-- used for configuring logging on the server.
    Refer to Logging com.davinvicky.common.service.JndiUtils.jndiLookup.LoggingInitialiser -->
    <context-param>
        <param-name>serviceName</param-name>
        <param-value>serviceTemplate</param-value>
    </context-param>

    <filter>
        <filter-name>corsFilter</filter-name>
        <filter-class>com.davinvicky.service.CORSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.davinvicky.common.logging.LoggingInitialiser</listener-class>
    </listener>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>